.cart{
    padding:0px 20px;
    position:sticky;
    top: 0;
    padding-top: 10px;
}
.cart button{
    margin: 0 2px;
}
.btnActivity{
    padding:10px 10px;
    background-color: black;
    color:white;
    border-radius: 7px;
}
.btnActivity:hover{
    background-color: white;
    color:black
}
 