.cart{
    padding:0px 20px;
    position:sticky;
    top: 0;
    padding-top: 10px;
}
.person-info{
    display:flex;
    flex-direction: row;
    padding:10px 5px;
    background-color: rgb(148, 164, 165);
}