.container{
    margin: 20px 50px;
}
.exercise{
    display:grid;
    grid-template-columns: 4fr 1fr;
    gap:16px;
    
}
.exerciseProduct{
    display:grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 14px;
}
.exerciseCart{
    border: 1px solid black;
}

.person-info div{
    margin:0 2px;
}


 @media only screen and (max-width: 576px) {
    .container{
        margin:0;
    }
    .exercise{
        display:grid;
        grid-template-columns: 1fr ;
         /* display: flex;
         flex-direction: columns; */
    }
    .exerciseProduct{
        display:grid;
        grid-template-columns:   1fr;
        gap: 14px;
    }
  } 