h2{
    text-align: center;
    margin-top:20px;
}
.question{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}

@media only screen and (max-width: 576px) {
    .question{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 40px;
        
    }
}